@import "../../node_modules/highlight.js/styles/a11y-dark.css";

@tailwind base;

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2'),
    url('../fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'JetBrains Mono', monospace;
}

[x-cloak] {
    display: none;
}

@tailwind components;
@tailwind utilities;
